.todolist{
    background-color: white;
    margin-inline: 40px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.todolist_li{
    margin-top: 20px;
    list-style-type: none;
    font-size: 20px;
    
}


.todolist_li--finished{
    text-decoration: line-through;
}